{{>post-info post}}

{{#if loggedin}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comment}}

{{#if loggedin}}
<script src="/javascript/comment.js"></script>

{{/if}}